asgiref==3.5.2
astroid==2.11.7
certifi==2022.9.24
dill==0.3.4
dj-database-url==1.0.0
Django==3.2.16
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==20.1.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.7.0
pip==22.2.2
platformdirs==2.5.2
psycopg2-binary==2.9.5
PyJWT==1.7.1
pylint==2.14.5
pytz==2022.6
setuptools==65.5.0
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.1
typing_extensions==4.3.0
wheel==0.37.1
wrapt==1.14.1
